@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Festive&display=swap');
* {
    margin: 0;
}

body {
    background-color: rgb(250, 227, 246);
    text-align: center;
    margin: 1rem;
   
}

/*MAIN*/

.titulo {
    font-family: 'Dancing Script';
    margin: 20px;
}

.contato {
    margin: 1rem;
}

fieldset {
    width:35%;
    margin: auto;
    
}

fieldset, form {
    display: flex;
    flex-direction: column;
}

fieldset, label {
    margin-bottom: 6px;
}

input, textarea {
    width: 70%;
    margin-bottom: 6px;
    margin: 6px auto;
}

.btn {
    background-color: #ff7244;
    width: 50%;
    margin: auto;
    color: aliceblue;
    border: none;
    margin-bottom: 6px;
    padding: .3em 2em;
    border-radius: 15px;
}



.btn:hover {
    cursor: pointer;
    background-color: #f8490f;
}

